.panel-game .status{
    display: flex;
    padding: 10px 10px;
    height: 45px;
    background-color: var(--ColorMenu);
    justify-content: space-between;
}

.panel-game .status .status-color{
    display: flex;
    justify-content: space-between;
    color: white;

}

.panel-game .status .status-color span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-color: var(--ColorMenu) ;
    border-style: solid;
    border-radius: 50%;
    background-color: var(--ColorMenu);
    margin-right: 10px;
}

.panel-game .status button{
    font-size: 12pt;
}


.line.especial {
    border: 3px dashed gold !important;
}

.roxo {
    background-color: var(--ColorJogador1) !important;
}

.vermelho {
    background-color: var(--ColorJogador2) !important;
}


/* Indicador no topo da coluna */
.hover-indicator {
    position: absolute;
    top: -40px; /* Posiciona acima do tabuleiro */
    left: 60%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator-piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: currentColor;
}

